@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'Nunito Sans',Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.card {
    padding: 1%;
    margin: auto;
    text-align: center;
    color: chocolate;
    width: 400px;
    background: rgba(255, 255, 255, 0.943);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .profile_img{
    margin:0 auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.623);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.826);

  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }